:root{
    --primary-Orange: hsl(26, 100%, 55%);
    --primary-Pale-orange: hsl(25, 100%, 94%);
    --neutral-Very-dark-blue: hsl(220, 13%, 13%);
    --neutral-Dark-grayish-blue: hsl(219, 9%, 45%);
    --neutral-Grayish-blue: hsl(220, 14%, 75%);
    --neutral-Light-grayish-blue: hsl(223, 64%, 98%);
    --neutral-White: hsl(0, 0%, 100%);
    --neutral-Black: hsla(0, 0%, 0%,0.25);
  
  
    --font-Size:16px;
    --font-Family: 'Kumbh Sans', sans-serif;
  }

  .navBar{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .navBar-menuImage{
    position: relative;
    top:0.1rem;
    right: .3rem;
  }
  
  .navBar-logoImage{
    background-image: url("../../images/logo.svg");
    width: 8.9rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right:3rem;
  }

  .navBar-profilePic{
    background-image: url("../../images/image-avatar.png");
    width: 2rem;
    height: 2rem;
    background-size: contain;
    border-radius: 50%;
  }